@{
    ViewBag.Title = Resources.Contacts;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TO DO<br />
</address>

<address>
    <strong>Example:</strong> <a href="mailto:Example@example.com">Example@example.com</a><br />
    <strong>Example:</strong> <a href="mailto:Example@example.com">Example@example.com</a>
</address>