@{
    ViewBag.Title = @Resources.Hangman;
}

<h2>@Resources.Hangman</h2>

@using (Html.BeginForm("InsertWord", "Home"))
{
    @Html.TextBox("Word")
    <input type="submit" value=@Resources.Insert class="search-button" />
}

@ViewBag.Message