@{
    ViewBag.Title = "Hangman";
}

<h2>Hangman</h2>

@using (Html.BeginForm("InsertWord", "Home"))
{
    @Html.TextBox("Word")
    <input type="submit" value="Insert" class="search-button" />
}

@ViewBag.Message