@{
    ViewBag.Title = Resources.Statistics;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<table class="table">
    <tr>
        <th>@Resources.NetworkDimension</th>
        <td>@ViewBag.Dimension</td>
    </tr>
</table>


